<div id="footer_block1">
    <div class="footer_block1_b1">
        <div>Français (France)</div>
        <div>English (US)</div>
        <div>Español</div>
        <div>Türkçe</div>
        <div>Português (Portugal)</div>
        <div>العربية</div>
        <div>Italiano</div>
        <div>Deutsch</div>
        <div>हिन्दी</div>
        <div>中文(简体)</div>
        <div>日本語</div> 
        <div>
            <i class='fas fa-plus style_plus'></i>
        </div>
    </div>
    <div class="footer_border_bottom"></div>
    <div class="footer_block2">
        <div>S’inscrire </div>
        <div>Se connecter </div>
        <div>Messenger </div>
        <div>Facebook </div> 
        <div>LiteWatch </div>
        <div>Lieux </div>
        <div>Jeux </div>
        <div>Marketplace </div>
        <div>Facebook  </div>
        <div>PayOculus </div>
        <div>Portal </div>
        <div>Instagram </div>
        <div>Bulletin</div>
        <div>Local</div>
    </div>
    <div class="footer_block2">
        <div>Collectes de fonds</div>
        <div>Services</div>
        <div>Centre d’information sur les élections</div>
        <div>Groupes</div>
        <div>À propos</div>
        <div>Créer une publicité</div>
        <div>Créer une Page</div>
        <div>DéveloppeursEmplois</div>
    </div>
    <div class="footer_block2">
        <div>Confidentialité</div>
        <div>Cookies</div>
        <div>Choisir sa pubConditions générales</div>
        <div>Aide</div>
        <div>Paramètres</div>
        <div>Historique personnel</div>
    </div>
    <div class="footer_bokonzi">
        Meta © 2022 Bokonzi
    </div>
</div>

<style>
    #footer_block1
    {
      
       color: #999b9f;
     
        width: 60%; 
        margin:auto;
        margin-top:102px; 
        font-size: 10px;
    }
    .footer_block1_b1{
        text-align: center;
        display: flex;
        justify-content: space-around;

        padding-top: 20px; 

    }
    .style_plus{
        border:1px solid #ccd0d5 ; 
        padding: 5px;
        background-color: #f5f6f7;
    }
    footer{
        background-color: #ffff;
    }
    .footer_border_bottom{
        border:1px solid #dddfe2 ; 
        margin-top:5px; 
        margin-bottom: 10px;
    }
    .footer_block2{
        display: flex;
      
        
        font-size: 10px;
     
    }
    .footer_block2 div {
        padding-right: 10px;
    }
    .footer_bokonzi{
        margin-top:15px; 
        margin-bottom: 30px;
    }


    @media screen and (max-width: 1280px)
    {
   footer{
       opacity: 0;
   }
  
    }
</style>